tbd_humanav.egg-info/
*.pyc
server/outdir
tmp/
*.swp
*.DS_Store
sd3dis/stanford_building_parser_dataset/
sd3dis/stanford_building_parser_dataset_raw/
surreal/code/human_meshes/
surreal/code/human_textures/
surreal/code/test_human_mesh_generation/
surreal/download/SURREAL/
examples/*.png
surreal/code/get-pip.py
humanav/renderer_params.py
surreal/code/config
tests/*.png
.vscode/
base_data/
surreal/code/config
params/base_data_directory.py
humanav/renderer_params.py